div#first { position:relative; padding: 5px; border: 2px dotted green; width: 200px; height: 200px; text-align: center}
div#second { position:absolute; top: 100px; padding: 5px; border: 2px dotted green; width: 200px; height: 200px; text-align: center; margin-top:auto; margin-bottom:auto}
.red { color:red; font-weight:bold }